*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.im1{
    /* height:100;
    width:100; */
    border-radius: 50%;
    margin-top:100px;
    margin-left:450px;
}
.b1{
    border-radius: 10%;
    padding: 5px;
    background-color: coral;
    margin-top:30px;
    margin-left: 450px;
}
.main-div {
    background-color:black;
    margin:10px;
    height: 580px;
    width:1000px;
    border-radius:10%;
}
.h{
    color:white;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
}
.p1{
    color:gray;
    text-align:center;
    /* padding-left: 60px; */
    padding-top:5px;
    font-size:10px;
}
@media screen and (max-width: 767px){
    .main-div{
        padding: 10px;
        height:460px;
        width:auto;
    }
    .im1{
        margin-top:50px;
        margin-left:90px;
    }
    .b1{
        margin-top:10px;
        margin-left:85px;
    }
}
@media screen and (min-width: 768px) and (max-width:991px) {
    .main-div{
        padding: 15px;
        height: 600px;
        width: auto;
    }
    .im1{
        margin-top:50px;
        margin-left:300px;
    }
    .b1{
        margin-top:10px;
        margin-left:295px;
    }
}